<!DOCTYPE html>
<html ng-app="progressMonitor">
<head>
<title>Progress Monitor</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/main.css" rel="stylesheet">
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/bootstrap/js/tab.js"></script>
<script
	src="https://cdn.jsdelivr.net/webjars/org.webjars/angularjs/1.7.7/angular.min.js"></script>


</head>
<body ng-controller="HomeController">
	<noscript>
		<h2 style="color: #ff0000">Seems your browser doesn't support
			Javascript! Websocket relies on Javascript being enabled. Please
			enable Javascript and reload this page!</h2>
	</noscript>
	<div id="main-content" class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-hover table-bordered">
					<tr style="background: black; color: white; text-align: center;">
						<td colspan="8">File Migartion Progress Monitor

							<button title="Refresh Grid"
								class="btn btn-primary btn-xs pull-right"
								ng-click="refreshGrid();">
								<span class="glyphicon glyphicon-refresh" />
							</button>

							<button title="Reconnect" style="margin-right: 5px;"
								class="btn btn-warning btn-xs pull-right"
								ng-click="reConnect();">
								<span class="glyphicon glyphicon-transfer" />
							</button>
						</td>

					</tr>
					<tr>
						<td>Migartion <span class="badge badge-secondary"
							id="statusBadge">Online</span>
						</td>
						<td>Total Reporters <span class="badge badge-secondary"
							id="totalReporters">{{totalCount}}</span></td>
						<td>In Progress <span class="badge badge-secondary"
							id="inProgressReporters">{{inProgressCount}}</span></td>
						<td>Completed <span class="badge badge-secondary"
							id="completedReporters">{{completedCount}}</span></td>
					</tr>
					<tr>
						<td>Total Files Size <span class="badge badge-secondary"
							id="totalSizeBadge">0</span></td>
						<td>Total Downloaded Size <span class="badge badge-secondary"
							id="downloadSizeBadge">0</span></td>
						<td colspan="2">Migration % <span
							class="badge badge-secondary" id="migrationPercbadge">0</span></td>
					</tr>
				</table>
			</div>

		</div>
		
		
		<div class="row" ng-show="totalCount>0">
			<div class="col-md-12">

				<ul class="nav nav-tabs" id="myTab" role="tablist">
					
					<!-- Default tab -->
					<li class="nav-item {{$first ? 'active':''}}" ng-repeat="tab in tabs">
						<a class="nav-link {{$first ? 'active':''}}" id="home-{{tab}}"
							data-toggle="tab" href="#{{tab}}" role="tab" aria-controls="{{tab}}"
							aria-selected="true">{{tab}}</a>
					</li>
						
					
				</ul>
				<div class="tab-content" id="myTabContent">
				
					
					<div class="tab-pane {{$first ? 'active':''}}" id="{{tab}}" role="tabpanel" ng-repeat="tab in tabs"
						aria-labelledby="home-{{tab}}" style="">
						
							<div class="row">
								<div class="col-md-12">
									<table id="conversation"
										class="table table-hover table-striped table-bordered table-condensed">
										<thead>
											<tr
												style="background: #e8efff; color: black; font-weight: bold; font-size: 0.9em;">
												<th>File Path</th>
												<th>Process</th>
												<th>Activity-Id</th>
												<th>Container</th>
												<th>OpenStack-Id</th>
												<th>Size</th>
												<th>Completion %</th>
											</tr>
										</thead>
										<tbody id="greetings">
											<tr ng-repeat="(pKey,progressItem) in progressItems|TabFilter:tab">
												<td>{{progressItem.filePath}}</td>
												<td>{{progressItem.activityName}}</td>
												<td>{{progressItem.activityId}}</td>
												<td>{{progressItem.containerName}}</td>
												<td>{{progressItem.openStackId}}</td>
												<td>{{progressItem.fileSize}}</td>
												<td>
													<div class="progress">
														<div class="progress-bar {{progressItem.progressState}}"
															role="progressbar"
															style="width: {{progressItem.progressPercentage}}%"
															aria-valuenow="{{progressItem.progressPercentage}}"
															aria-valuemin="0" aria-valuemax="100">{{progressItem.progressPercentage}}%</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						
					</div>

					
				</div>
			</div>
		</div>
		
		





		





	</div>


	<script src="/appAngular.js"></script>
</body>
</html>
